<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <div th:fragment="header" class="layui-header header-fixed">
        <div class="layui-logo">layui 后台布局</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="javascript:;"><i class="layui-icon">&#xe6af;</i>刷新</a></li><!--&#xe669;-->
        </ul>
        <ul class="layui-nav layui-layout-right">
            <!-- 登录状态 -->
            <div th:if="${session.user}">
                <li class="layui-nav-item">
                    <a href="javascript:;"><img th:src="${session.user.avatar}" class="layui-nav-img"/><span th:text="${session.user.userName}"></span></a>
                    <dl class="layui-nav-child"> <!-- 二级菜单 -->
                        <dd><a href="/forget/init">修改密码</a></dd>
                        <dd><a href="/system/logout">退出登录</a></dd>
                    </dl>
                </li>
            </div>
            <!-- 未登录状态 -->
            <div th:unless="${session.user}" class="float-right">
                <li class="layui-nav-item">
                    <a href="/system/init">登录</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/register/init">注册</a>
                </li>
            </div>
        </ul>

        <!-- script -->
        <script src="/layui/layui.js" charset="utf-8"></script>
        <script>
            layui.use("jquery", function(){
                var $ = layui.$;
                $.get("/system/isLogin", function(result){
                    var isLogin = result.data;
                    if(isLogin===null || isLogin===undefined || isLogin==='' || isLogin==='null' || isLogin==='undefined'){
                        // 如果没有登录，则先去登录
                        location.href = "/system/init";
                    }
                });
            });
        </script>
    </div>
</html>
