<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>公司/个人</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <div class="demoTable">
            <div class="padding-top-2p layui-form">
                <div class="layui-row layui-col-space15">

                    <div class="layui-col-md2">
                        <div class="layui-inline">
                            <input class="layui-input" placeholder="名称" id="fullName" autocomplete="off">
                        </div>
                    </div>

                    <div class="layui-col-md2">
                        <div class="layui-inline">
                            <input class="layui-input" placeholder="证件号" id="creditCode" autocomplete="off">
                        </div>
                    </div>

                    <div class="layui-col-md2">
                        <div class="layui-inline">
                            <input class="layui-input" placeholder="助记码" id="companyCode" autocomplete="off">
                        </div>
                    </div>

                    <div class="layui-col-md2">
                        <div class="layui-input-inline">
                            <select id="companyType">
                                <option value="">类型</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-col-md2">
                        <div class="layui-input-inline">
                            <select id="companyStatus">
                                <option value="">状态</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-col-md2">
                        <button class="layui-btn layui-btn-normal layui-btn-radius" id="search" data-type="reload"><i class="layui-icon layui-icon-search"></i>&nbsp;搜索</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="layui-row center" style="margin-top: 10px">
            <table class="layui-hide" id="company" lay-filter="company"></table>
        </div>
        <div class="layui-btn-container" hidden id="tools">
            <div class="left">
                <button class="layui-btn layui-btn-sm" onclick="addCompany()" id="addCompany">添加</button>
                <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="delCompany()" id="delCompany">删除</button>
                <a target="_blank" class="layui-btn layui-btn-sm layui-btn-primary float-right" href="/company/exportExcel" id="exportCompany"><i class="layui-icon layui-icon-export"></i>导出</a>
            </div>
        </div>
    </div>
    <script src="/layui/layui.js"></script>
    <script th:inline="javascript">
        var tableId='company',layer=null,$,form,treeGrid,types,states;
        function init(){
            // 获取下拉框
            types = [[${@selector.getSelector('relationship')}]];
            states = [[${@selector.getSelector('status')}]];
            // 查询权限
            var addCompanyPerm = [[${#permission.hasPermission('business:company:add')}]];
            if(addCompanyPerm!==null && addCompanyPerm!==undefined && addCompanyPerm!==''){
                var addCompany = $("#addCompany");
                addCompany.addClass("layui-btn-disabled");
                addCompany.attr("disabled",true);
            }
            var editCompanyPerm = [[${#permission.hasPermission('business:company:edit')}]];
            if(editCompanyPerm!==null && editCompanyPerm!==undefined && editCompanyPerm!==''){
                var editCompany = $("#editCompany");
                editCompany.addClass("layui-btn-disabled");
                editCompany.attr("disabled",true);
            }
            var delCompanyPerm = [[${#permission.hasPermission('business:company:del')}]];
            if(delCompanyPerm!==null && delCompanyPerm!==undefined && delCompanyPerm!==''){
                var delCompany = $("#delCompany");
                delCompany.addClass("layui-btn-disabled");
                delCompany.attr("disabled",true);
            }
            var exportPerm = [[${#permission.hasPermission('business:company:export')}]];
            if(exportPerm!==null && exportPerm!==undefined && exportPerm!==''){
                var exportCompany = $("#exportCompany");
                exportCompany.addClass("layui-btn-disabled");
                exportCompany.attr("href","javascript:;");
            }
        }
        layui.config({
            base: '/layui/'
        }).extend({
            treeGrid:'treeGrid'
        }).use(['jquery','layer','treeGrid','form'], function(){
            form = layui.form;
            $=layui.$;
            treeGrid = layui.treeGrid;
            layer=layui.layer;
            // 初始化
            init();
            // 填充html下拉框
            // 关系类型
            var typesHtml = '';
            for(var i=0;i<types.length;i++){
                typesHtml += '<option value="' + types[i].key + '">' + types[i].value + '</option>';
            }
            $("#companyType").append(typesHtml);
            // 状态类型
            var statesHtml = '';
            for(var j=0;j<states.length;j++){
                statesHtml += '<option value="' + states[j].key + '">' + states[j].value + '</option>';
            }
            $("#companyStatus").append(statesHtml);
            // 重新渲染
            form.render();
            // 填充下拉框结束
            treeGrid.render({
                id:tableId
                ,elem: '#'+tableId
                ,url:'/company/getAllCompany'
                ,idField:'selfId'//必須字段
                ,treeId:'selfId'//树形id字段名称
                ,treeUpId:'parentId'//树形父id字段名称
                ,treeShowName:'fullName'//以树形式显示的字段
                ,heightRemove:[".dHead",100]//不计算的高度,表格设定的是固定高度，此项不生效
                ,isFilter:false
                ,height: '80%'
                ,iconOpen:false//是否显示图标【默认显示】
                ,isOpenDefault:false//节点默认是展开还是折叠【默认展开】
                ,loading:true
                ,method:'get'
                ,isPage:true
                ,toolbar: '#tools'
                ,skin: 'line'
                ,editModel:'dblclick'
                ,page: true
                ,limit: 10
                ,limits: [10,20,30,40,50]
                ,response:{
                    statusCode:'S001'
                }
                ,parseData: function(res){
                    return {
                        "code": res.status,
                        "msg": res.statusDesc,
                        "count": res.data.total,
                        "data": res.data.records
                    };
                }
                ,cols: [
                    [
                        {type: 'checkbox'}
                        ,{field:'fullName', width:120, title: '全称',align:'left'}
                        ,{field:'shortName', width:80, title: '简称',align:'left'}
                        ,{field:'companyCode', minWidth:80, title: '助记码',align:'left'}
                        ,{field:'accountCode', minWidth:90, title: '财务代码',align:'left'}
                        ,{field:'type', width:100, title: '类型',align:'left',templet:function (data) {
                            for(var i=0;i<types.length;i++){
                                if(data.type===types[i].key){
                                    return "<span class='layui-badge-rim'>" + types[i].value + "</span>";
                                }
                            }
                        }}
                        ,{field:'creditCode', width:170, title: '证件号',align:'left'}
                        ,{field:'parentId', width:60, title: '上级',align:'left',edit: 'text'}
                        ,{field:'selfId', width:60, title: '代码',align:'left',edit: 'text'}
                        ,{field:'status', title: '状态',width:60,align:'left',templet:function (data) {
                            for(var i=0;i<states.length;i++){
                                if(data.status===states[i].key){
                                    return "<span class='layui-badge layui-badge-blue'>" + states[i].value + "</span>";
                                }
                            }
                        }}
                        ,{field:'used', width:80, title: '已使用',align:'left',templet:function (data) {
                            if(data.used===1){
                                return "<span class='layui-badge layui-bg-blue'>已用</span>";
                            }else if(data.used===0){
                                return "<span class='layui-badge layui-bg-orange'>未用</span>";
                            }else{
                                return "<span class='layui-badge-rim'>预留状态</span>";
                            }
                        }}
                        ,{field:'remark', width:100,align:'left', title: '描述'}
                        ,{width:140, title: '操作',templet:function (data) {
                            return "<button class='layui-btn layui-btn-sm layui-btn-normal layui-btn-" + [[${#permission.hasPermission('business:company:edit')}]] + "' " + [[${#permission.hasPermission('business:company:edit')}]] + " lay-event='editCompany'>编辑</button>"
                                +"<button class='layui-btn layui-btn-sm layui-btn-" + [[${#permission.hasPermission('business:company:add')}]] + "' " + [[${#permission.hasPermission('business:company:add')}]] + " lay-event='addChild'>添加下级</button>";
                        }}
                    ]
                ]
            });
            treeGrid.on('tool(company)',function (obj) {
                if(obj.event === 'editCompany'){//编辑
                    editCompany(obj.data);
                }else if(obj.event==='addChild'){
                    addChild(obj.data);
                }
            });
            treeGrid.on('edit(company)', function(obj){
                var company = obj.data;
                $.get("/company/checkExist/" + company.id + "/" + company.selfId, function(result){
                    if(result.status === 'S001'){
                        // 校验selfId是否重复
                        // 修改
                        layer.open({
                            type: 1
                            ,content: '<div style="text-align: center;margin-top: 30px;">确定要应用修改？</div>'
                            ,title:'编辑'
                            ,shadeClose: true
                            ,skin: 'layui-layer-rim'
                            ,area:['300px','200px']
                            ,btn: ['确定', '取消']
                            ,yes: function(index, layero){
                                $.ajax({
                                    type: 'POST',
                                    url: "/company/updateNode",
                                    contentType: "application/json;charset=utf-8",
                                    data: JSON.stringify({
                                        id:company.id,
                                        parentId:company.parentId,
                                        selfId:company.selfId
                                    }),
                                    success: function(result){
                                        // 关掉弹出层
                                        layer.closeAll();
                                        if(result.status === 'S001'){
                                            // 更新成功 - 关掉
                                            treeGrid.reload(tableId);
                                            layer.msg(result.statusDesc,{icon: 6});
                                        }else{
                                            // 更新失败 - 给出错误提示
                                            layer.msg(result.statusDesc,{icon: 5});
                                        }
                                    }
                                });
                            }
                        });
                    }else{
                        // 更新失败 - 给出错误提示
                        layer.msg(result.statusDesc,{icon: 5});
                    }
                });

            });
            // 搜索
            var active = {
                reload: function(){
                    var fullName = $('#fullName');
                    var creditCode = $('#creditCode');
                    var companyCode = $('#companyCode');
                    var type = $('#companyType');
                    var status = $('#companyStatus');
                    //执行重载
                    treeGrid.reload(tableId, {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        ,where: {
                            fullName: fullName.val(),
                            creditCode:creditCode.val(),
                            companyCode:companyCode.val(),
                            type:type.val(),
                            status:status.val()
                        }
                    });
                }
            };
            $('#search').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
        // 编辑信息
        function editCompany(company){
            // 关系类型
            var typesHtml = '<div class="layui-form-item"><label class="layui-form-label">关系类型</label><div class="layui-input-block"><select name="type" lay-verify="required"><option value="">请选择关系类型</option>';
            for(var i=0;i<types.length;i++){
                if(company.type===types[i].key){
                    typesHtml += '<option value="' + types[i].key + '" selected>' + types[i].value + '</option>';
                }else{
                    typesHtml += '<option value="' + types[i].key + '">' + types[i].value + '</option>';
                }
            }
            typesHtml += '</select></div></div>';
            // 状态类型
            var statusHtml = '<div class="layui-form-item"><label class="layui-form-label">状态</label><div class="layui-input-block">';
            for(var j=0;j<states.length;j++){
                if(company.status===states[j].key){
                    statusHtml += '<input type="radio" name="status" value="' + states[j].key + '" title="' + states[j].value + '" checked>';
                }else{
                    statusHtml += '<input type="radio" name="status" value="' + states[j].key + '" title="' + states[j].value + '">';
                }
            }
            statusHtml += '</div></div>';
            var formText = '<form class="layui-form" style="margin-right: 30px;margin-top: 30px"><div class="layui-form-item"><label class="layui-form-label">公司全称/个人全名</label>'
                + '<div class="layui-input-block"><input type="text" placeholder="请输入公司全称/个人全名" name="fullName" value="' + company.fullName + '" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">简称</label>'
                + '<div class="layui-input-block"><input type="text" name="shortName" value="' + company.shortName + '" placeholder="请输入简称" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">助记码</label>'
                + '<div class="layui-input-block"><input type="text" name="companyCode" value="' + company.companyCode + '" placeholder="请输入助记码" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">财务代码</label>'
                + '<div class="layui-input-block"><input type="text" name="accountCode" value="' + company.accountCode + '" placeholder="请输入财务系统代码" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">信用代码/身份证号</label>'
                + '<div class="layui-input-block"><input type="text" name="creditCode" value="' + company.creditCode + '" required  lay-verify="required" placeholder="请输入信用代码/身份证号" autocomplete="off" class="layui-input"></div></div>'
                // 关系类型
                + typesHtml
                // 启用类型
                + statusHtml;
            if(company.used===0){
                formText += '<div class="layui-form-item"><label class="layui-form-label">是否已用</label>'
                    + '<div class="layui-input-block"><input type="radio" name="used" value="0" title="未用" checked><input type="radio" name="used" value="1" title="已用"></div></div>';
            }else{
                formText += '<div class="layui-form-item"><label class="layui-form-label">是否已用</label>'
                    + '<div class="layui-input-block"><input type="radio" name="used" value="0" title="未用"><input type="radio" name="used" value="1" title="已用" checked></div></div>';
            }
            formText += '<div class="layui-form-item"><label class="layui-form-label">备注</label>'
                + '<div class="layui-input-block"><input type="text" name="remark" value="' + company.remark + '" placeholder="请输入备注" autocomplete="off" class="layui-input"></div></div>'
                + '</form>';
            layer.open({
                type: 1
                ,content: formText
                ,title:'编辑'
                ,shadeClose: true
                ,skin: 'layui-layer-rim'
                ,area:['450px','650px']
                ,btn: ['确定', '取消']
                ,success: function(layero, index){
                    form.render();
                }
                ,yes: function(index, layero){
                    var fullName = $("input[name='fullName']").val();
                    var shortName = $("input[name='shortName']").val();
                    var companyCode = $("input[name='companyCode']").val();
                    var accountCode = $("input[name='accountCode']").val();
                    var creditCode = $("input[name='creditCode']").val();
                    var type = $("select[name='type']").val();
                    var status = $("input[name='status']:checked").val();
                    var used = $("input[name='used']:checked").val();
                    var remark = $("input[name='remark']").val();
                    $.ajax({
                        type: 'POST',
                        url: "/company/update",
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify({
                            id:company.id,
                            fullName:fullName,
                            shortName:shortName,
                            companyCode:companyCode,
                            accountCode:accountCode,
                            creditCode:creditCode,
                            type:type,
                            used:used,
                            status:status,
                            remark:remark
                        }),
                        success: function(result){
                            // 关掉弹出层
                            layer.closeAll();
                            if(result.status === 'S001'){
                                // 更新成功 - 关掉
                                treeGrid.reload(tableId);
                                layer.msg(result.statusDesc,{icon: 6});
                            }else{
                                // 更新失败 - 给出错误提示
                                layer.msg(result.statusDesc,{icon: 5});
                            }
                        }
                    });
                }
            });
        }
        // 删除菜单
        function delCompany(){
            var checkCompanies = treeGrid.checkStatus(tableId).data;
            if(checkCompanies===null || checkCompanies===undefined || checkCompanies.length<1){
                layer.msg("未选择任何公司或个人",{icon:5});
                return;
            }
            var ids = new Array();
            for(var i=0;i<checkCompanies.length;i++){
                var company = checkCompanies[i];
                ids.push(company.id);
            }
            layer.open({
                type: 1
                ,content: '<div style="text-align: center;margin-top: 30px;">确定删除该公司或个人？</div>'
                ,title:'删除'
                ,shadeClose: true
                ,skin: 'layui-layer-rim'
                ,area:['300px','200px']
                ,btn: ['确定', '取消']
                ,yes: function(index, layero){
                    $.get("/company/delete/" + ids.toString(), function(result){
                        layer.closeAll();
                        if(result.status === 'S001'){
                            // 更新成功 - 关掉
                            treeGrid.reload(tableId);
                            layer.msg(result.statusDesc,{icon: 6});
                        }else{
                            // 更新失败 - 给出错误提示
                            layer.msg(result.statusDesc,{icon: 5});
                        }
                    });
                }
            });
        }
        // 添加
        function addCompany(){
            // 关系类型
            var typesHtml = '<div class="layui-form-item"><label class="layui-form-label">关系类型</label><div class="layui-input-block"><select name="type" lay-verify="required"><option value="">请选择关系类型</option>';
            for(var i=0;i<types.length;i++){
                typesHtml += '<option value="' + types[i].key + '">' + types[i].value + '</option>';
            }
            typesHtml += '</select></div></div>';
            // 状态类型
            var statusHtml = '<div class="layui-form-item"><label class="layui-form-label">状态</label><div class="layui-input-block">';
            for(var j=0;j<states.length;j++){
                if(j===0){
                    statusHtml += '<input type="radio" name="status" value="' + states[j].key + '" title="' + states[j].value + '" checked>';
                }else{
                    statusHtml += '<input type="radio" name="status" value="' + states[j].key + '" title="' + states[j].value + '">';
                }
            }
            statusHtml += '</div></div>';
            var formText = '<form class="layui-form" style="margin-right: 30px;margin-top: 30px"><div class="layui-form-item"><label class="layui-form-label">上级</label>'
                + '<div class="layui-input-block"><input type="text" placeholder="请输入名称" disabled value="主目录" autocomplete="off" class="layui-input layui-disabled"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">公司全称/个人全名</label>'
                + '<div class="layui-input-block"><input type="text" placeholder="请输入公司全称/个人全名" name="fullName" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">简称</label>'
                + '<div class="layui-input-block"><input type="text" name="shortName" placeholder="请输入简称" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">助记码</label>'
                + '<div class="layui-input-block"><input type="text" name="companyCode" placeholder="请输入助记码" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">财务代码</label>'
                + '<div class="layui-input-block"><input type="text" name="accountCode" required  lay-verify="required" placeholder="请输入财务系统代码" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">信用代码/身份证号</label>'
                + '<div class="layui-input-block"><input type="text" name="creditCode" required  lay-verify="required" placeholder="请输入信用代码/身份证号" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">代码</label>'
                + '<div class="layui-input-block"><input type="text" name="selfId" required  lay-verify="required" placeholder="请输入代码" autocomplete="off" class="layui-input"></div></div>'
                // 关系类型
                + typesHtml
                // 启用类型
                + statusHtml
                + '<div class="layui-form-item"><label class="layui-form-label">是否已用</label>'
                + '<div class="layui-input-block"><input type="radio" name="used" value="0" title="未用" checked><input type="radio" name="used" value="1" title="已用"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">备注</label>'
                + '<div class="layui-input-block"><input type="text" name="remark" placeholder="请输入备注" autocomplete="off" class="layui-input"></div></div>'
                + '</form>';
            layer.open({
                type: 1
                ,content: formText
                ,title:'编辑'
                ,shadeClose: true
                ,skin: 'layui-layer-rim'
                ,area:['450px','650px']
                ,btn: ['确定', '取消']
                ,success: function(layero, index){
                    form.render();
                }
                ,yes: function(index, layero){
                    var fullName = $("input[name='fullName']").val();
                    var shortName = $("input[name='shortName']").val();
                    var companyCode = $("input[name='companyCode']").val();
                    var accountCode = $("input[name='accountCode']").val();
                    var creditCode = $("input[name='creditCode']").val();
                    var selfId = $("input[name='selfId']").val();
                    var type = $("select[name='type']").val();
                    var status = $("input[name='status']:checked").val();
                    var used = $("input[name='used']:checked").val();
                    var remark = $("input[name='remark']").val();
                    $.ajax({
                        type: 'POST',
                        url: "/company/insert",
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify({
                            fullName:fullName,
                            shortName:shortName,
                            companyCode:companyCode,
                            accountCode:accountCode,
                            creditCode:creditCode,
                            parentId:0,
                            selfId:selfId,
                            type:type,
                            used:used,
                            status:status,
                            remark:remark
                        }),
                        success: function(result){
                            // 关掉弹出层
                            layer.closeAll();
                            if(result.status === 'S001'){
                                // 更新成功 - 关掉
                                treeGrid.reload(tableId);
                                layer.msg(result.statusDesc,{icon: 6});
                            }else{
                                // 更新失败 - 给出错误提示
                                layer.msg(result.statusDesc,{icon: 5});
                            }
                        }
                    });
                }
            });
        }
        function addChild(company) {
            // 关系类型
            var typesHtml = '<div class="layui-form-item"><label class="layui-form-label">关系类型</label><div class="layui-input-block"><select name="type" lay-verify="required"><option value="">请选择关系类型</option>';
            for(var i=0;i<types.length;i++){
                typesHtml += '<option value="' + types[i].key + '">' + types[i].value + '</option>';
            }
            typesHtml += '</select></div></div>';
            // 状态类型
            var statusHtml = '<div class="layui-form-item"><label class="layui-form-label">状态</label><div class="layui-input-block">';
            for(var j=0;j<states.length;j++){
                if(j===0){
                    statusHtml += '<input type="radio" name="status" value="' + states[j].key + '" title="' + states[j].value + '" checked>';
                }else{
                    statusHtml += '<input type="radio" name="status" value="' + states[j].key + '" title="' + states[j].value + '">';
                }
            }
            statusHtml += '</div></div>';
            var formText = '<form class="layui-form" style="margin-right: 30px;margin-top: 30px"><div class="layui-form-item"><label class="layui-form-label">上级</label>'
                + '<div class="layui-input-block"><input type="text" placeholder="请输入名称" disabled value="' + company.fullName + '" autocomplete="off" class="layui-input layui-disabled"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">公司全称/个人全名</label>'
                + '<div class="layui-input-block"><input type="text" placeholder="请输入公司全称/个人全名" name="fullName" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">简称</label>'
                + '<div class="layui-input-block"><input type="text" name="shortName" placeholder="请输入简称" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">助记码</label>'
                + '<div class="layui-input-block"><input type="text" name="companyCode" placeholder="请输入助记码" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">财务代码</label>'
                + '<div class="layui-input-block"><input type="text" name="accountCode" required  lay-verify="required" placeholder="请输入财务系统代码" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">信用代码/身份证号</label>'
                + '<div class="layui-input-block"><input type="text" name="creditCode" required  lay-verify="required" placeholder="请输入信用代码/身份证号" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">代码</label>'
                + '<div class="layui-input-block"><input type="text" name="selfId" required  lay-verify="required" placeholder="请输入代码" autocomplete="off" class="layui-input"></div></div>'
                // 关系类型
                + typesHtml
                // 启用类型
                + statusHtml
                + '<div class="layui-form-item"><label class="layui-form-label">是否已用</label>'
                + '<div class="layui-input-block"><input type="radio" name="used" value="0" title="未用" checked><input type="radio" name="used" value="1" title="已用"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">备注</label>'
                + '<div class="layui-input-block"><input type="text" name="remark" placeholder="请输入备注" autocomplete="off" class="layui-input"></div></div>'
                + '</form>';
            layer.open({
                type: 1
                ,content: formText
                ,title:'编辑'
                ,shadeClose: true
                ,skin: 'layui-layer-rim'
                ,area:['450px','650px']
                ,btn: ['确定', '取消']
                ,success: function(layero, index){
                    form.render();
                }
                ,yes: function(index, layero){
                    var fullName = $("input[name='fullName']").val();
                    var shortName = $("input[name='shortName']").val();
                    var companyCode = $("input[name='companyCode']").val();
                    var accountCode = $("input[name='accountCode']").val();
                    var creditCode = $("input[name='creditCode']").val();
                    var selfId = $("input[name='selfId']").val();
                    var type = $("select[name='type']").val();
                    var status = $("input[name='status']:checked").val();
                    var used = $("input[name='used']:checked").val();
                    var remark = $("input[name='remark']").val();
                    $.ajax({
                        type: 'POST',
                        url: "/company/insert",
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify({
                            fullName:fullName,
                            shortName:shortName,
                            companyCode:companyCode,
                            accountCode:accountCode,
                            creditCode:creditCode,
                            parentId:company.selfId,
                            selfId:selfId,
                            type:type,
                            used:used,
                            status:status,
                            remark:remark
                        }),
                        success: function(result){
                            // 关掉弹出层
                            layer.closeAll();
                            if(result.status === 'S001'){
                                // 更新成功 - 关掉
                                treeGrid.reload(tableId);
                                layer.msg(result.statusDesc,{icon: 6});
                            }else{
                                // 更新失败 - 给出错误提示
                                layer.msg(result.statusDesc,{icon: 5});
                            }
                        }
                    });
                }
            });
        }
    </script>
</div>
</body>
</html>