<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>数据字典</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <div class="layui-row" style="margin-top: 10px">
            <table class="layui-hide center" id="dictionary" lay-filter="dictionary"></table>
        </div>
        <div class="layui-btn-container" hidden id="tools">
            <button class="layui-btn layui-btn-sm" onclick="addDic()" id="addDictionary">添加基础字典</button>
            <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="delDic()" id="delDictionary">删除</button>
            <a target="_blank" class="layui-btn layui-btn-sm layui-btn-primary float-right" href="/system/dictionary/exportExcel" id="exportDictionary"><i class="layui-icon layui-icon-export"></i>导出</a>
        </div>
    </div>
    <script src="/layui/layui.js"></script>
    <script th:inline="javascript">
        var editObj=null,ptable=null,treeGrid=null,tableId='dictionary',layer=null,$,form,table;
        layui.config({
            base: '/layui/'
        }).extend({
            treeGrid:'treeGrid'
        }).use(['jquery','treeGrid','layer','table','form'], function(){
            form = layui.form;
            $=layui.$;
            table = layui.table;
            treeGrid = layui.treeGrid;//很重要
            layer=layui.layer;
            // 查询add权限
            var addDicPerm = [[${#permission.hasPermission('business:dic:add')}]];
            if(addDicPerm!==null && addDicPerm!==undefined && addDicPerm!==''){
                var addDictionary = $("#addDictionary");
                addDictionary.addClass("layui-btn-disabled");
                addDictionary.attr("disabled",true);
            }
            var delDicPerm = [[${#permission.hasPermission('business:dic:del')}]];
            if(delDicPerm!==null && delDicPerm!==undefined && delDicPerm!==''){
                var delDictionary = $("#delDictionary");
                delDictionary.addClass("layui-btn-disabled");
                delDictionary.attr("disabled",true);
            }
            var exportDicPerm = [[${#permission.hasPermission('business:dic:export')}]];
            if(exportDicPerm!==null && exportDicPerm!==undefined && exportDicPerm!==''){
                var exportDictionary = $("#exportDictionary");
                exportDictionary.addClass("layui-btn-disabled");
                exportDictionary.attr("href","javascript:;");
            }
            ptable=treeGrid.render({
                id:tableId
                ,elem: '#'+tableId
                ,url:'/system/dictionary/getAllDics'
                ,idField:'selfId'//必須字段
                ,treeId:'selfId'//树形id字段名称
                ,treeUpId:'parentId'//树形父id字段名称
                ,treeShowName:'name'//以树形式显示的字段
                ,heightRemove:[".dHead",100]//不计算的高度,表格设定的是固定高度，此项不生效
                ,isFilter:false
                ,height: '80%'
                ,iconOpen:false//是否显示图标【默认显示】
                ,isOpenDefault:false//节点默认是展开还是折叠【默认展开】
                ,loading:true
                ,method:'get'
                ,isPage:false
                ,toolbar: '#tools'
                ,skin: 'line'
                ,editModel:'dblclick'
                ,response:{
                    statusCode:'S001'
                }
                ,parseData: function(res){
                    return {
                        "code": res.status,
                        "msg": res.statusDesc,
                        "data": res.data
                    };
                }
                ,cols: [
                    [
                        {type: 'checkbox'}
                        ,{field:'name', minWidth:150, title: '字典名'}
                        ,{field:'value', width:45, title: '值'}
                        ,{field:'type', width:100, title: '区分'}
                        ,{field:'parentId', width:80, title: '上级',edit: 'text'}
                        ,{field:'selfId', width:100, title: '代码',edit: 'text'}
                        ,{field:'orderNum', width:60, title: '排序'}
                        ,{field:'freeze', title: '状态',width:80,templet:function (data) {
                            if(data.freeze===1){
                                return "<span class='layui-badge layui-bg-red'>冻结</span>";
                            }else if(data.freeze===0){
                                return "<span class='layui-badge layui-bg-blue'>可用</span>";
                            }else{
                                return "<span class='layui-badge-rim'>预留状态</span>";
                            }
                        }}
                        ,{field:'used', width:80, title: '已使用',templet:function (data) {
                            if(data.used===1){
                                return "<span class='layui-badge layui-bg-blue'>已用</span>";
                            }else if(data.used===0){
                                return "<span class='layui-badge layui-bg-orange'>未用</span>";
                            }else{
                                return "<span class='layui-badge-rim'>预留状态</span>";
                            }
                        }}
                        ,{field:'builtIn', width:80, title: '内置',templet:function (data) {
                            if(data.builtIn===1){
                                return "<span class='layui-badge layui-bg-blue'>是</span>";
                            }else if(data.builtIn===0){
                                return "<span class='layui-badge layui-bg-green'>否</span>";
                            }else{
                                return "<span class='layui-badge-rim'>预留状态</span>";
                            }
                        }}
                        ,{field:'remark', width:80, title: '描述'}
                        ,{width:180, title: '操作',templet:function (data) {
                            return "<button class='layui-btn layui-btn-sm layui-btn-normal layui-btn-" + [[${#permission.hasPermission('business:dic:edit')}]] + "' " + [[${#permission.hasPermission('business:dic:edit')}]] + " lay-event='editDic'>编辑</button>"
                                +"<button class='layui-btn layui-btn-sm layui-btn-" + [[${#permission.hasPermission('business:dic:add')}]] + "' " + [[${#permission.hasPermission('business:dic:add')}]] + " lay-event='addChild'>添加下级菜单</button>";
                        }}
                    ]
                ]
            });

            treeGrid.on('tool(dictionary)',function (obj) {
                if(obj.event === 'editDic'){//编辑
                    editDic(obj.data);
                }else if(obj.event==='addChild'){
                    addChild(obj.data);
                }
            });
            treeGrid.on('edit(dictionary)', function(obj){
                var dic = obj.data;
                $.get("/system/dictionary/checkExist/" + dic.selfId, function(result){
                    if(result.status === 'S001'){
                        // 修改
                        layer.open({
                            type: 1
                            ,content: '<div style="text-align: center;margin-top: 30px;">确定要应用修改？</div>'
                            ,title:'编辑'
                            ,shadeClose: true
                            ,skin: 'layui-layer-rim'
                            ,area:['300px','200px']
                            ,btn: ['确定', '取消']
                            ,yes: function(index, layero){
                                $.ajax({
                                    type: 'POST',
                                    url: "/system/dictionary/updateNode",
                                    contentType: "application/json;charset=utf-8",
                                    data: JSON.stringify({
                                        id:dic.id,
                                        parentId:dic.parentId,
                                        selfId:dic.selfId
                                    }),
                                    success: function(result){
                                        // 关掉弹出层
                                        layer.closeAll();
                                        if(result.status === 'S001'){
                                            // 更新成功 - 关掉
                                            treeGrid.reload(tableId);
                                            layer.msg(result.statusDesc,{icon: 6});
                                        }else{
                                            // 更新失败 - 给出错误提示
                                            layer.msg(result.statusDesc,{icon: 5});
                                        }
                                    }
                                });
                            }
                        });
                    }else{
                        // 更新失败 - 给出错误提示
                        layer.msg(result.statusDesc,{icon: 5});
                    }
                });

            });

        });
        // 编辑菜单
        function editDic(dic){
            console.info(dic);
            var formText = '<form class="layui-form" style="margin-right: 30px;margin-top: 30px"><div class="layui-form-item"><label class="layui-form-label">字典名称</label>'
                + '<div class="layui-input-block"><input type="text" name="name" required  lay-verify="required" placeholder="请输入名称" value="' + dic.name + '" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">字典值</label>'
                + '<div class="layui-input-block"><input type="text" name="value" required  lay-verify="required" placeholder="请输入数值" value="' + dic.value + '" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">字典区分</label>'
                + '<div class="layui-input-block"><input type="text" name="type" required  lay-verify="required" placeholder="请输入区分" value="' + dic.type + '" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">显示顺序</label>'
                + '<div class="layui-input-block"><input type="text" name="orderNum" required  lay-verify="required" placeholder="请输入排序" value="' + dic.orderNum + '" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">状态</label>';
            if(dic.freeze===0){
                formText+='<div class="layui-input-block"><input type="radio" name="freeze" value="0" title="可用" checked><input type="radio" name="freeze" value="1" title="冻结"></div></div>';
            }else if(dic.freeze===1){
                formText+='<div class="layui-input-block"><input type="radio" name="freeze" value="0" title="可用"><input type="radio" name="freeze" value="1" title="冻结" checked></div></div>';
            }
            // 是否已用
            formText+='<div class="layui-form-item"><label class="layui-form-label">是否已用</label>';
            if(dic.used===0){
                formText+='<div class="layui-input-block"><input type="radio" name="used" value="0" title="未用" checked><input type="radio" name="used" value="1" title="已用"></div></div>';
            }else if(dic.used===1){
                formText+='<div class="layui-input-block"><input type="radio" name="used" value="0" title="未用"><input type="radio" name="used" value="1" title="已用" checked></div></div>';
            }
            formText += '<div class="layui-form-item"><label class="layui-form-label">备注</label>'
                + '<div class="layui-input-block"><input type="text" name="remark" placeholder="请输入备注" value="' + dic.remark + '" autocomplete="off" class="layui-input"></div></div>'
                + '</form>';
            layer.open({
                type: 1
                ,content: formText
                ,title:'编辑'
                ,shadeClose: true
                ,skin: 'layui-layer-rim'
                ,area:['450px','550px']
                ,btn: ['确定', '取消']
                ,success: function(layero, index){
                    form.render('radio');
                }
                ,yes: function(index, layero){
                    var name = $("input[name='name']").val();
                    var value = $("input[name='value']").val();
                    var type = $("input[name='type']").val();
                    var orderNum = $("input[name='orderNum']").val();
                    var freeze = $("input[name='freeze']:checked").val();
                    var used = $("input[name='used']:checked").val();
                    var remark = $("input[name='remark']").val();
                    $.ajax({
                        type: 'POST',
                        url: "/system/dictionary/update",
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify({
                            id:dic.id,
                            name:name,
                            value:value,
                            type:type,
                            orderNum:orderNum,
                            freeze:freeze,
                            used:used,
                            remark:remark
                        }),
                        success: function(result){
                            // 关掉弹出层
                            layer.closeAll();
                            if(result.status === 'S001'){
                                // 更新成功 - 关掉
                                treeGrid.reload(tableId);
                                layer.msg(result.statusDesc,{icon: 6});
                            }else{
                                // 更新失败 - 给出错误提示
                                layer.msg(result.statusDesc,{icon: 5});
                            }
                        }
                    });
                }
            });
        }
        // 删除菜单
        function delDic(){
            var dics = treeGrid.checkStatus(tableId).data;
            if(dics===null || dics===undefined || dics.length<1){
                layer.msg("未选择任何字典",{icon:5});
                return;
            }
            var ids = new Array();
            for(var i=0;i<dics.length;i++){
                var dic = dics[i];
                ids.push(dic.id);
            }
            layer.open({
                type: 1
                ,content: '<div style="text-align: center;margin-top: 30px;">如果存在下级节点则一并删除，确定？</div>'
                ,title:'删除'
                ,shadeClose: true
                ,skin: 'layui-layer-rim'
                ,area:['300px','200px']
                ,btn: ['确定', '取消']
                ,yes: function(index, layero){
                    $.get("/system/dictionary/delete/" + ids.toString(), function(result){
                        layer.closeAll();
                        if(result.status === 'S001'){
                            // 更新成功 - 关掉
                            treeGrid.reload(tableId);
                            layer.msg(result.statusDesc,{icon: 6});
                        }else{
                            // 更新失败 - 给出错误提示
                            layer.msg(result.statusDesc,{icon: 5});
                        }
                    });
                }
            });
        }
        // 添加下级菜单
        function addChild(dic){
            var formText = '<form class="layui-form" style="margin-right: 30px;margin-top: 30px"><div class="layui-form-item"><label class="layui-form-label">上级字典</label>'
                + '<div class="layui-input-block"><input type="text" placeholder="请输入名称" disabled value="' + dic.name + '" autocomplete="off" class="layui-input layui-disabled"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">字典名称</label>'
                + '<div class="layui-input-block"><input type="text" name="name" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">代码</label>'
                + '<div class="layui-input-block"><input type="text" name="selfId" required  lay-verify="required" placeholder="请输入代码" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">字典值</label>'
                + '<div class="layui-input-block"><input type="text" placeholder="请输入数值" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">字典区分</label>'
                + '<div class="layui-input-block"><input type="text" name="type" placeholder="请输入区分" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">显示顺序</label>'
                + '<div class="layui-input-block"><input type="text" name="orderNum" required  lay-verify="required" placeholder="请输入排序" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">状态</label>'
                + '<div class="layui-input-block"><input type="radio" name="freeze" value="0" title="可用" checked><input type="radio" name="freeze" value="1" title="冻结"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">是否已用</label>'
                + '<div class="layui-input-block"><input type="radio" name="used" value="0" title="未用" checked><input type="radio" name="used" value="1" title="已用"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">备注</label>'
                + '<div class="layui-input-block"><input type="text" name="remark" placeholder="请输入备注" autocomplete="off" class="layui-input"></div></div>'
                + '</form>';
            layer.open({
                type: 1
                ,content: formText
                ,title:'添加下级菜单'
                ,shadeClose: true
                ,skin: 'layui-layer-rim'
                ,area:['450px','620px']
                ,btn: ['确定', '取消']
                ,success: function(layero, index){
                    form.render('radio');
                }
                ,yes: function(index, layero){
                    var name = $("input[name='name']").val();
                    var selfId = $("input[name='selfId']").val();
                    var value = $("input[name='value']").val();
                    var type = $("input[name='type']").val();
                    var orderNum = $("input[name='orderNum']").val();
                    var freeze = $("input[name='freeze']:checked").val();
                    var used = $("input[name='used']:checked").val();
                    var remark = $("input[name='remark']").val();
                    $.ajax({
                        type: 'POST',
                        url: "/system/dictionary/insert",
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify({
                            name:name,
                            selfId:selfId,
                            value: value,
                            type:type,
                            orderNum:orderNum,
                            parentId:dic.selfId,
                            freeze:freeze,
                            used:used,
                            remark:remark
                        }),
                        success: function(result){
                            // 关掉弹出层
                            layer.closeAll();
                            if(result.status === 'S001'){
                                // 更新成功 - 关掉
                                treeGrid.reload(tableId);
                                layer.msg(result.statusDesc,{icon: 6});
                            }else{
                                // 更新失败 - 给出错误提示
                                layer.msg(result.statusDesc,{icon: 5});
                            }
                        }
                    });
                }
            });
        }
        // 添加目录菜单
        function addDic(){
            console.info("click add");
            var formText = '<form class="layui-form" style="margin-right: 30px;margin-top: 30px"><div class="layui-form-item"><label class="layui-form-label">上级字典</label>'
                + '<div class="layui-input-block"><input type="text" placeholder="请输入名称" disabled value="主目录" autocomplete="off" class="layui-input layui-disabled"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">字典名称</label>'
                + '<div class="layui-input-block"><input type="text" name="name" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">代码</label>'
                + '<div class="layui-input-block"><input type="text" name="selfId" required  lay-verify="required" placeholder="请输入代码" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">字典值</label>'
                + '<div class="layui-input-block"><input type="text" name="value" placeholder="请输入值" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">字典区分</label>'
                + '<div class="layui-input-block"><input type="text" name="type" placeholder="请输入区分" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">显示顺序</label>'
                + '<div class="layui-input-block"><input type="text" name="orderNum" required  lay-verify="required" placeholder="请输入排序" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">状态</label>'
                + '<div class="layui-input-block"><input type="radio" name="freeze" value="0" title="可用" checked><input type="radio" name="freeze" value="1" title="冻结"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">是否已用</label>'
                + '<div class="layui-input-block"><input type="radio" name="used" value="0" title="未用" checked><input type="radio" name="used" value="1" title="已用"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">备注</label>'
                + '<div class="layui-input-block"><input type="text" name="remark" placeholder="请输入备注" autocomplete="off" class="layui-input"></div></div>'
                + '</form>';
            layer.open({
                type: 1
                ,content: formText
                ,title:'编辑'
                ,shadeClose: true
                ,skin: 'layui-layer-rim'
                ,area:['450px','620px']
                ,btn: ['确定', '取消']
                ,success: function(layero, index){
                    form.render('radio');
                }
                ,yes: function(index, layero){
                    var name = $("input[name='name']").val();
                    var selfId = $("input[name='selfId']").val();
                    var orderNum = $("input[name='orderNum']").val();
                    var freeze = $("input[name='freeze']:checked").val();
                    var used = $("input[name='used']:checked").val();
                    var remark = $("input[name='remark']").val();
                    $.ajax({
                        type: 'POST',
                        url: "/system/dictionary/insert",
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify({
                            name:name,
                            selfId:selfId,
                            orderNum:orderNum,
                            parentId:0,
                            freeze:freeze,
                            used:used,
                            remark:remark
                        }),
                        success: function(result){
                            // 关掉弹出层
                            layer.closeAll();
                            if(result.status === 'S001'){
                                // 更新成功 - 关掉
                                treeGrid.reload(tableId);
                                layer.msg(result.statusDesc,{icon: 6});
                            }else{
                                // 更新失败 - 给出错误提示
                                layer.msg(result.statusDesc,{icon: 5});
                            }
                        }
                    });
                }
            });
        }
    </script>
</div>
</body>
</html>