<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>出入库概况</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/layui/css/eleTree.css" media="all">
</head>
<body>
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="center" style="padding: 15px;">
        <div class="layui-form">
            <div class="layui-row layui-col-space15">

                <div class="layui-col-md2 layui-col-md-offset1">
                    <div class="layui-inline">
                        <input class="layui-input" placeholder="核销码" name="mapCode" id="mapCode" autocomplete="off">
                    </div>
                </div>
                <div class="layui-col-md2">
                    <div class="layui-input-inline">
                        <select id="inOut">
                            <option value="">状态</option>
                            <option value="1">出库</option>
                            <option value="2">入库</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md2">
                    <div class="layui-input-inline">
                        <select id="inOutType">
                            <option value="">类型</option>
                        </select>
                    </div>
                </div>

                <div class="layui-col-md2">
                    <div class="layui-inline">
                        <input class="layui-input" placeholder="邮箱" name="id" id="email" autocomplete="off">
                    </div>
                </div>
                <div class="layui-col-md2">
                    <div class="layui-input-inline">
                        <select id="status">
                            <option value="">状态</option>
                            <option value="0">启用</option>
                            <option value="1">禁用</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md1">
                    <button class="layui-btn layui-btn-radius" data-type="reload" id="search"><i class="layui-icon">&#xe615;</i>&nbsp;搜索</button>
                </div>
<!--                <div class="layui-col-md1">
                    <button class="layui-btn layui-btn-radius layui-btn-normal" id="addUser" onclick="addUser()">+ 添加用户</button>
                </div>-->
            </div>
        </div>
        <div class="layui-row" style="margin-top: 10px">
            <table class="layui-hide" id="general" lay-filter="general"></table>
        </div>
        <div class="layui-btn-container" hidden id="tools">
            <button class='layui-btn layui-btn-sm layui-btn-normal float-left' id="addGeneral" onclick="addGeneral()">添加</button>
            <button class='layui-btn layui-btn-sm layui-btn-danger float-left' id="deleteGeneral" lay-event='delete'>删除</button>
            <button class='layui-btn layui-btn-sm layui-btn-primary float-left' id="modifyGeneral" lay-event='modify'>修改</button>
            <button class='layui-btn layui-btn-sm layui-btn-primary float-left' id="importGeneral" lay-event='import'>导入</button>
            <button class='layui-btn layui-btn-sm layui-btn-primary float-left' id="exportGeneral" lay-event='export'>导出</button>
        </div>
    </div>

    <script src="/layui/layui.js"></script>
    <script th:inline="javascript">
        var tableId='general',layer,$,form,table,eleTree,notice,laydate,inType,outType,warehouse,companies;
        function init() {
            inType = [[${@selector.getSelector('inType')}]];
            outType = [[${@selector.getSelector('outType')}]];
            warehouse = [[${@selector.getSelector('warehouse')}]];
            companies = [[${@company.getSelector()}]];
        }
        layui.config({
            base: '/layui/'
        }).extend({
            eleTree:'eleTree',
            notice:'notice'
        }).use(['table','form','eleTree','notice','laydate'], function(){
            $ = layui.$;
            laydate = layui.laydate;
            eleTree = layui.eleTree;
            layer=layui.layer;
            form=layui.form;
            notice=layui.notice;
            table = layui.table;
            init();
            var inOutType = new Array();
            inOutType.push(inType);
            inOutType.push(outType);
            console.info(inOutType);
            $("#inOutType").html(packageOption(inOutType));
            table.render({
                elem: '#' + tableId
                ,id:tableId
                ,url:'/inOutGeneral/searchList'
                ,method:'post'
                ,contentType: 'application/json'
                ,page: true
                ,toolbar: '#tools'
                ,defaultToolbar: ['filter']
                ,limits : [10,15,20,25]
                ,limit : 10
                ,response:{
                    statusCode:'S001'
                }
                ,parseData: function(res){
                    if(res.status!=='S001'){
                        return{
                            "code": res.status,
                            "msg": res.statusDesc
                        };
                    }else{
                        return {
                            "code": res.status,
                            "msg": res.statusDesc,
                            "count": res.data.total,
                            "data": res.data.records
                        };
                    }
                }
                ,cols: [
                    [
                        {checkbox: true}
                        ,{field:'mapCode', width:80, title: '核销码',style:'text-align: left;'}
                        ,{field:'inOut', width:90, title: '出/入库',style:'text-align: left;',templet:function (data) {
                            if(data.inOut===1){
                                return "出库";
                            }else if(data.inOut===2){
                                return "入库";
                            }else{
                                return "未知";
                            }
                        }}
                        ,{field:'inOutType', width:100, title: '类型',style:'text-align: left;'}
                        ,{field:'inOutNo', minWidth:120, title: '单号',style:'text-align: left;'}
                        ,{field:'warehouse', width:100, title: '仓库',hide:true ,style:'text-align: left;'}
                        ,{field:'companyName', width:80, title: '供应商',style:'text-align: left;'}
                        ,{field:'inOutFinish', width:100, title: '出入库核销',style:'text-align: left;',templet:function (data) {
                            if(data.inOutFinish===0){
                                return "否";
                            }else if(data.inOutFinish===1){
                                return "是";
                            }else{
                                return "未知";
                            }
                        }}
                        ,{field:'orderFinish', width:100, title: '订单核销',style:'text-align: left;',templet:function (data) {
                            if(data.orderFinish===0){
                                return "否";
                            }else if(data.orderFinish===1){
                                return "是";
                            }else{
                                return "未知";
                            }
                        }}
                        ,{field:'financeFinish', width:100, title: '财务完结',style:'text-align: left;',templet:function (data) {
                            if(data.financeFinish===0){
                                return "否";
                            }else if(data.financeFinish===1){
                                return "是";
                            }else{
                                return "未知";
                            }
                        }}
                        ,{field:'businessFinish', width:100, title: '业务完结',style:'text-align: left;',templet:function (data) {
                            if(data.businessFinish===0){
                                return "否";
                            }else if(data.businessFinish===1){
                                return "是";
                            }else{
                                return "未知";
                            }
                        }}
                        ,{field:'inOutDate', width:160, title: '出入库时间',style:'text-align: left;',templet:function (data) {
                            return timeFormat(data.inOutDate);
                        }}
                    ]
                ]
            });
            // 监听点击按钮
            table.on('toolbar(general)',function (obj) {
                var generals = table.checkStatus(obj.config.id).data;
                // 过滤"筛选列","删除"操作，因为筛选列不涉及后台交互，删除操作可以多选,导入按钮不需要选
                if(obj.event!=='LAYTABLE_COLS' && obj.event!=='delete' && obj.event!=='import' && generals.length!==1){
                    layer.msg("请选择一条数据",{icon:5});
                    return;
                }
                if(obj.event==="modify"){//修改
                    modify(generals[0]);
                }else if(obj.event==='delete'){
                    if(generals===null || generals===undefined || generals.length<1){
                        layer.msg("未选择任何数据",{icon:5});
                        return;
                    }
                    var ids = new Array();
                    for(var i=0;i<generals.length;i++){
                        var position = generals[i];
                        ids.push(position.id);
                    }
                    delGeneral(ids);
                }else if(obj.event==='import'){
                    // 导入
                    console.info("导入数据");
                }

            });
            // 删除概况操作
            function delGeneral(ids) {
                layer.open({
                    type: 1
                    ,content: '<div style="text-align: center;margin-top: 30px;">确定要删除这<font color="red"> ' + ids.length + ' </font>条数据？</div>'
                    ,title:'删除'
                    ,shadeClose: true
                    ,skin: 'layui-layer-rim'
                    ,area:['300px','180px']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        $.get("/user/delete/" + ids.toString(), function(result){
                            layer.closeAll();
                            if(result.status === 'S001'){
                                // 更新成功 - 关掉
                                table.reload(tableId);
                                layer.msg(result.statusDesc,{icon: 6});
                            }else{
                                // 更新失败 - 给出错误提示
                                layer.msg(result.statusDesc,{icon: 5});
                            }
                        });
                    }
                });
            }
            // 修改用户信息
            function modify(general) {
                var formText = '<form class="layui-form" style="margin-right: 30px;margin-top: 30px"><div class="layui-form-item"><label class="layui-form-label">用户名</label>'
                    + '<div class="layui-input-block"><input type="text" name="userName" required  lay-verify="required" placeholder="请输入用户名" disabled value="' + general.userName + '" autocomplete="off" class="layui-input layui-disabled"></div></div>'
                    + '<div class="layui-form-item"><label class="layui-form-label">姓名</label>'
                    + '<div class="layui-input-block"><input type="text" name="trueName" required  lay-verify="required" placeholder="请输入姓名" value="' + general.trueName + '" autocomplete="off" class="layui-input"></div></div>'
                    + '<div class="layui-form-item"><label class="layui-form-label">手机</label>'
                    + '<div class="layui-input-block"><input type="text" name="mobile" required  lay-verify="required" placeholder="请输入手机号" value="' + general.mobile + '" autocomplete="off" class="layui-input"></div></div>'
                    + '<div class="layui-form-item"><label class="layui-form-label">邮箱</label>'
                    + '<div class="layui-input-block"><input type="text" name="email" required  lay-verify="required" placeholder="请输入邮箱地址" value="' + general.email + '" autocomplete="off" class="layui-input"></div></div>'
                    + '<div class="layui-form-item"><label class="layui-form-label">年龄</label>'
                    + '<div class="layui-input-block"><input type="text" name="age" required  lay-verify="required" placeholder="请输入年龄" value="' + general.age + '" autocomplete="off" class="layui-input"></div></div>';
                // 性别
                formText+='<div class="layui-form-item"><label class="layui-form-label">性别</label>';
                if(general.gender===1){
                    formText+='<div class="layui-input-block"><input type="radio" name="gender" value="1" title="男" checked><input type="radio" name="gender" value="2" title="女"><input type="radio" name="gender" value="0" title="未知"></div></div>';
                }else if(general.gender===2){
                    formText+='<div class="layui-input-block"><input type="radio" name="gender" value="1" title="男"><input type="radio" name="gender" value="2" title="女" checked><input type="radio" name="gender" value="0" title="未知"></div></div>';
                }else if(general.gender===0){
                    formText+='<div class="layui-input-block"><input type="radio" name="gender" value="1" title="男"><input type="radio" name="gender" value="2" title="女"><input type="radio" name="gender" value="0" title="未知" checked></div></div>';
                }
                // 状态
                formText+='<div class="layui-form-item"><label class="layui-form-label">状态</label>';
                if(general.status===0){
                    formText+='<div class="layui-input-block"><input type="radio" name="status" value="0" title="启用" checked><input type="radio" name="status" value="1" title="禁用"></div></div>';
                }else if(general.status===1){
                    formText+='<div class="layui-input-block"><input type="radio" name="status" value="0" title="启用"><input type="radio" name="status" value="1" title="禁用" checked></div></div>';
                }
                formText += '</form>';
                layer.open({
                    type: 1
                    ,content: formText
                    ,title:'修改'
                    ,shadeClose: true
                    ,skin: 'layui-layer-rim'
                    ,area:['450px','500px']
                    ,btn: ['确定', '取消']
                    ,success: function(layero, index){
                        form.render('radio');
                    }
                    ,yes: function(index, layero){
                        var trueName = $("input[name='trueName']").val();
                        var userName = $("input[name='userName']").val();
                        var mobile = $("input[name='mobile']").val();
                        var email = $("input[name='email']").val();
                        var age = $("input[name='age']").val();

                        var gender = $("input[name='gender']:checked").val();
                        var status = $("input[name='status']:checked").val();
                        $.ajax({
                            type: 'POST',
                            url: "/user/update",
                            contentType: "application/json;charset=utf-8",
                            data: JSON.stringify({
                                userId:general.userId,
                                trueName:trueName,
                                userName:userName,
                                mobile:mobile,
                                email:email,
                                age:age,
                                gender:gender,
                                status:status
                            }),
                            success: function(result){
                                // 关掉弹出层
                                layer.closeAll();
                                if(result.status === 'S001'){
                                    // 更新成功 - 关掉
                                    table.reload(tableId);
                                    layer.msg(result.statusDesc,{icon: 6});
                                }else{
                                    // 更新失败 - 给出错误提示
                                    layer.msg(result.statusDesc,{icon: 5});
                                }
                            }
                        });
                    }
                });
            }
            var active = {
                reload: function(){
                    var username = $('#username');
                    var mobile = $('#mobile');
                    var email = $('#email');
                    var status = $('#status');
                    //执行重载
                    table.reload(tableId, {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        ,where: {
                            username: username.val(),
                            mobile:mobile.val(),
                            email:email.val(),
                            status:status.val()
                        }
                    });
                }
            };
            $('#search').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
        // 添加概况
        function addGeneral() {
            var formText = '<form class="layui-form" style="margin-right: 30px;margin-top: 30px"><div class="layui-form-item"><label class="layui-form-label">核销码</label>'
                + '<div class="layui-input-block"><input type="text" name="mapCode" placeholder="请输入核销码" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">出入库时间</label>'
                + '<div class="layui-input-block"><input type="text" name="inOutDate" placeholder="请选择" autocomplete="off" id="laydate" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">出入库</label>'
                + '<div class="layui-input-block"><input lay-filter="inOut" type="radio" name="inOut" value="1" title="出库" checked><input lay-filter="inOut" type="radio" name="inOut" value="2" title="入库"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">类型</label>'
                + '<div class="layui-input-block"><select id="inOutType" name="inOutType"></select></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">单号</label>'
                + '<div class="layui-input-block"><input type="text" name="inOutNo" required  lay-verify="required" placeholder="请输入单号" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">仓库</label>'
                + '<div class="layui-input-block"><select name="warehouse">' + packageOption(warehouse) + '</select></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">供应商</label>'
                + '<div class="layui-input-block"><select name="companyId">' + packageOption(companies) + '</select></div></div>'
                + '</form>';
            layer.open({
                type: 1
                ,content: formText
                ,title:'添加'
                ,shadeClose: true
                ,skin: 'layui-layer-rim'
                ,area:['450px','500px']
                ,btn: ['确定', '取消']
                ,success: function(layero, index){
                    // 出入库类型初始值
                    var inOutType = $("#inOutType");
                    inOutType.html(packageOption(inType));
                    form.render();
                    form.on('radio(inOut)', function(data){
                        // 出入库单选框事件监听 - 更改出入库类型值
                        if(data.value==='1'){
                            inOutType.html(packageOption(inType));
                        }else if(data.value==='2'){
                            inOutType.html(packageOption(outType));
                        }
                        // 更新渲染
                        form.render();
                    });
                    laydate.render({
                        elem: '#laydate' //指定元素
                        ,type: 'datetime'
                        ,format: 'yyyy-MM-dd HH:mm:ss' //可任意组合
                        ,value: new Date()
                        ,isInitValue: true //是否允许填充初始值，默认为 true
                    });
                }
                ,yes: function(index, layero){
                    var trueName = $("input[name='trueName']").val();
                    var userName = $("input[name='userName']").val();
                    var mobile = $("input[name='mobile']").val();
                    var email = $("input[name='email']").val();
                    var age = $("input[name='age']").val();
                    var gender = $("input[name='gender']:checked").val();
                    var status = $("input[name='status']:checked").val();
                    $.ajax({
                        type: 'POST',
                        url: "/user/insert",
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify({
                            trueName:trueName,
                            userName:userName,
                            mobile:mobile,
                            email:email,
                            age:age,
                            gender:gender,
                            status:status
                        }),
                        success: function(result){
                            if(result.status === 'S001'){
                                // 更新成功 - 关掉弹出层
                                layer.closeAll();
                                table.reload(tableId);
                                layer.msg(result.statusDesc,{icon: 6});
                            }else{
                                // 更新失败 - 给出错误提示
                                layer.msg(result.statusDesc,{icon: 5});
                            }
                        }
                    });
                }
            });
        }
    </script>
    <script type="text/javascript">
        function packageOption(datas) {
            var html = "";
            for(var i=0;i<datas.length;i++){
                html += '<option value="' + datas[i].key + '">' + datas[i].value + '</option>';
            }
            return html;
        }
        function timeFormat(v){
            var date = new Date(v);
            var y = date.getFullYear();
            var m = date.getMonth()+1;
            m = m<10?'0'+m:m;
            var d = date.getDate();
            d = d<10?("0"+d):d;
            var h = date.getHours();
            h = h<10?("0"+h):h;
            var M = date.getMinutes();
            M = M<10?("0"+M):M;
            var s = date.getSeconds();
            s = s<10?("0"+s):s;
            var str = y+"-"+m+"-"+d+" "+h+":"+M + ":" + s;
            return str;
        }
    </script>
</div>
</body>
</html>