<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>岗位管理</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/layui/css/formSelects-v4.css" />
</head>
<body>
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <div class="layui-row" style="margin-top: 10px">
            <table class="layui-hide center" id="position" lay-filter="position"></table>
        </div>
        <div class="layui-btn-container" hidden id="tools">
            <button class="layui-btn layui-btn-sm" onclick="addPosition()" id="addPosition">添加基础岗位</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="staff()" id="viewStaff">查看人员详情</button>
            <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="delPosition()" id="delPosition">删除</button>
        </div>
        <div class="layui-btn-container" hidden id="staffTool">
            <button class="layui-btn layui-btn-sm float-left" onclick="addStaff()" id="addStaff">添加人员</button>
            <button class='layui-btn layui-btn-sm layui-btn-normal float-left' onclick="delStaff()" id="delStaff">删除</button>
        </div>
    </div>
    <script src="/layui/layui.js"></script>
    <script src="/js/global.js"></script>
    <script th:inline="javascript">
        var editObj=null,ptable=null,treeGrid=null,tableId='position',layer=null,$,form,table,states,positionType,formSelects;
        function init() {
            // 获取下拉框
            states = [[${@selector.getSelector('status')}]];
            positionType = [[${@selector.getSelector('position')}]];
            // 查询权限
            var addPositionPerm = [[${#permission.hasPermission('business:position:add')}]];
            if(addPositionPerm!==null && addPositionPerm!==undefined && addPositionPerm!==''){
                var addPosition = $("#addPosition");
                addPosition.addClass("layui-btn-disabled");
                addPosition.attr("disabled",true);
            }
            var viewStaffPerm = [[${#permission.hasPermission('business:position:info:list')}]];
            if(viewStaffPerm!==null && viewStaffPerm!==undefined && viewStaffPerm!==''){
                var viewStaff = $("#viewStaff");
                viewStaff.addClass("layui-btn-disabled");
                viewStaff.attr("disabled",true);
            }
            var delPositionPerm = [[${#permission.hasPermission('business:position:del')}]];
            if(delPositionPerm!==null && delPositionPerm!==undefined && delPositionPerm!==''){
                var delPosition = $("#delPosition");
                delPosition.addClass("layui-btn-disabled");
                delPosition.attr("disabled",true);
            }
            var addStaffPerm = [[${#permission.hasPermission('business:position:info:add')}]];
            if(addStaffPerm!==null && addStaffPerm!==undefined && addStaffPerm!==''){
                var addStaff = $("#addStaff");
                addStaff.addClass("layui-btn-disabled");
                addStaff.attr("disabled",true);
            }
            var delStaffPerm = [[${#permission.hasPermission('business:position:info:del')}]];
            if(delStaffPerm!==null && delStaffPerm!==undefined && delStaffPerm!==''){
                var delStaff = $("#delStaff");
                delStaff.addClass("layui-btn-disabled");
                delStaff.attr("disabled",true);
            }
        }
        layui.config({
            base: '/layui/'
        }).extend({
            treeGrid:'treeGrid',
            formSelects: 'formSelects-v4'
        }).use(['jquery','treeGrid','layer','table','form','formSelects'], function(){
            form = layui.form;
            $=layui.$;
            formSelects = layui.formSelects;
            table = layui.table;
            treeGrid = layui.treeGrid;//很重要
            layer=layui.layer;
            // 固定数据以及权限初始化
            init();
            ptable=treeGrid.render({
                id:tableId
                ,elem: '#'+tableId
                ,url:'/position/getAllPositions'
                ,idField:'id'//必須字段
                ,treeId:'id'//树形id字段名称
                ,treeUpId:'parentId'//树形父id字段名称
                ,treeShowName:'name'//以树形式显示的字段
                ,heightRemove:[".dHead",100]//不计算的高度,表格设定的是固定高度，此项不生效
                ,isFilter:false
                ,height: '80%'
                ,iconOpen:false//是否显示图标【默认显示】
                ,isOpenDefault:true//节点默认是展开还是折叠【默认展开】
                ,loading:true
                ,method:'get'
                ,isPage:false
                ,toolbar: '#tools'
                ,skin: 'line'
                ,editModel:'dblclick'
                ,response:{
                    statusCode:'S001'
                }
                ,parseData: function(res){
                    return {
                        "code": res.status,
                        "msg": res.statusDesc,
                        "data": res.data
                    };
                }
                ,cols: [
                    [
                        {type: 'checkbox'}
                        ,{field:'name', minWidth:150, title: '名称'}
                        ,{field:'staffs',minWidth:150, title: '人员'}
                        ,{field:'parentId', width:60, title: '上级',edit: 'text'}
                        ,{field:'id', width:60, title: '代码'}
                        ,{field:'orderNum', width:60, title: '排序'}
                        ,{field:'type', title: '类型',width:80,templet:function (data) {
                            for(var i=0;i<positionType.length;i++){
                                if(data.type===positionType[i].key){
                                    return "<span class='layui-badge-rim layui-bg-blue'>" + positionType[i].value + "</span>";
                                }
                            }
                        }}
                        ,{field:'status', title: '状态',width:80,templet:function (data) {
                            for(var i=0;i<states.length;i++){
                                if(data.status===states[i].key){
                                    return "<span class='layui-badge-rim'>" + states[i].value + "</span>";
                                }
                            }
                        }}
                        ,{field:'used', width:80, title: '已使用',templet:function (data) {
                            if(data.used===1){
                                return "<span class='layui-badge layui-bg-blue'>已用</span>";
                            }else if(data.used===0){
                                return "<span class='layui-badge layui-bg-orange'>未用</span>";
                            }else{
                                return "<span class='layui-badge-rim'>预留状态</span>";
                            }
                        }}
                        ,{field:'remark', width:150, title: '描述'}
                        ,{fixed:'right', width:180, title: '操作',templet:function (data) {
                            return "<button class='layui-btn layui-btn-sm layui-btn-normal layui-btn-" + [[${#permission.hasPermission('business:position:edit')}]] + "' " + [[${#permission.hasPermission('business:position:edit')}]] + " lay-event='editPosition'>编辑</button>"
                                +"<button class='layui-btn layui-btn-sm layui-btn-" + [[${#permission.hasPermission('business:position:add')}]] + "' " + [[${#permission.hasPermission('business:position:add')}]] + " lay-event='addChild'>添加下级岗位</button>";
                        }}
                    ]
                ]
            });

            treeGrid.on('tool(position)',function (obj) {
                if(obj.event === 'editPosition'){//编辑
                    editPosition(obj.data);
                }else if(obj.event==='addChild'){
                    addChild(obj.data);
                }
            });
            treeGrid.on('edit(position)', function(obj){
                var dic = obj.data;
                layer.open({
                    type: 1
                    ,content: '<div style="text-align: center;margin-top: 30px;">确定要应用修改？</div>'
                    ,title:'编辑'
                    ,shadeClose: true
                    ,skin: 'layui-layer-rim'
                    ,area:['300px','200px']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        $.ajax({
                            type: 'POST',
                            url: "/position/update",
                            contentType: "application/json;charset=utf-8",
                            data: JSON.stringify({
                                id:dic.id,
                                parentId:dic.parentId
                            }),
                            success: function(result){
                                // 关掉弹出层
                                layer.closeAll();
                                if(result.status === 'S001'){
                                    // 更新成功 - 关掉
                                    treeGrid.reload(tableId);
                                    layer.msg(result.statusDesc,{icon: 6});
                                }else{
                                    // 更新失败 - 给出错误提示
                                    layer.msg(result.statusDesc,{icon: 5});
                                }
                            }
                        });
                    }
                });
            });

        });
        // 编辑菜单
        function editPosition(position){
            // 状态类型
            var statusHtml = '<div class="layui-form-item"><label class="layui-form-label">状态</label><div class="layui-input-block">';
            for(var i=0;i<states.length;i++){
                if(position.status===states[i].key){
                    statusHtml += '<input type="radio" name="status" value="' + states[i].key + '" title="' + states[i].value + '" checked>';
                }else{
                    statusHtml += '<input type="radio" name="status" value="' + states[i].key + '" title="' + states[i].value + '">';
                }
            }
            statusHtml += '</div></div>';
            // 岗位类型
            var typeHtml = '<div class="layui-form-item"><label class="layui-form-label">类型</label><div class="layui-input-block">';
            for(var j=0;j<positionType.length;j++){
                if(position.type===positionType[j].key){
                    typeHtml += '<input type="radio" name="type" value="' + positionType[j].key + '" title="' + positionType[j].value + '" disabled checked>';
                }else{
                    typeHtml += '<input type="radio" name="type" value="' + positionType[j].key + '" title="' + positionType[j].value + '" disabled>';
                }
            }
            typeHtml += '</div></div>';
            var formText = '<form class="layui-form" style="margin-right: 30px;margin-top: 30px"><div class="layui-form-item"><label class="layui-form-label">名称</label>'
                + '<div class="layui-input-block"><input type="text" name="name" required  lay-verify="required" placeholder="请输入名称" value="' + position.name + '" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">上级</label>'
                + '<div class="layui-input-block"><input type="text" name="parentId" required  lay-verify="required" placeholder="请输入上级" value="' + position.parentId + '" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">显示顺序</label>'
                + '<div class="layui-input-block"><input type="text" name="orderNum" required  lay-verify="required" placeholder="请输入排序" value="' + position.orderNum + '" autocomplete="off" class="layui-input"></div></div>'
                + statusHtml + typeHtml;
            // 是否已用
            formText+='<div class="layui-form-item"><label class="layui-form-label">是否已用</label>';
            if(position.used===0){
                formText+='<div class="layui-input-block"><input type="radio" name="used" value="0" title="未用" checked><input type="radio" name="used" value="1" title="已用"></div></div>';
            }else if(position.used===1){
                formText+='<div class="layui-input-block"><input type="radio" name="used" value="0" title="未用"><input type="radio" name="used" value="1" title="已用" checked></div></div>';
            }
            formText += '<div class="layui-form-item"><label class="layui-form-label">备注</label>'
                + '<div class="layui-input-block"><input type="text" name="remark" placeholder="请输入备注" value="' + position.remark + '" autocomplete="off" class="layui-input"></div></div>'
                + '</form>';
            layer.open({
                type: 1
                ,content: formText
                ,title:'编辑'
                ,shadeClose: true
                ,skin: 'layui-layer-rim'
                ,area:['450px','550px']
                ,btn: ['确定', '取消']
                ,success: function(layero, index){
                    form.render('radio');
                }
                ,yes: function(index, layero){
                    var name = $("input[name='name']").val();
                    var parentId = $("input[name='parentId']").val();
                    var orderNum = $("input[name='orderNum']").val();
                    var status = $("input[name='status']:checked").val();
                    var type = $("input[name='type']:checked").val();
                    var used = $("input[name='used']:checked").val();
                    var remark = $("input[name='remark']").val();
                    $.ajax({
                        type: 'POST',
                        url: "/position/update",
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify({
                            id:position.id,
                            name:name,
                            parentId:parentId,
                            orderNum:orderNum,
                            status:status,
                            type:type,
                            used:used,
                            remark:remark
                        }),
                        success: function(result){
                            // 关掉弹出层
                            layer.closeAll();
                            if(result.status === 'S001'){
                                // 更新成功 - 关掉
                                treeGrid.reload(tableId);
                                layer.msg(result.statusDesc,{icon: 6});
                            }else{
                                // 更新失败 - 给出错误提示
                                layer.msg(result.statusDesc,{icon: 5});
                            }
                        }
                    });
                }
            });
        }
        // 删除菜单
        function delPosition(){
            var positions = treeGrid.checkStatus(tableId).data;
            if(positions===null || positions===undefined || positions.length<1){
                layer.msg("未选择任何字典",{icon:5});
                return;
            }
            var ids = new Array();
            for(var i=0;i<positions.length;i++){
                var position = positions[i];
                ids.push(position.id);
            }
            layer.open({
                type: 1
                ,content: '<div style="text-align: center;margin-top: 30px;">如果存在下级节点则一并删除，确定？</div>'
                ,title:'删除'
                ,shadeClose: true
                ,skin: 'layui-layer-rim'
                ,area:['300px','200px']
                ,btn: ['确定', '取消']
                ,yes: function(index, layero){
                    $.get("/position/delete/" + ids.toString(), function(result){
                        layer.closeAll();
                        if(result.status === 'S001'){
                            // 更新成功 - 关掉
                            treeGrid.reload(tableId);
                            layer.msg(result.statusDesc,{icon: 6});
                        }else{
                            // 更新失败 - 给出错误提示
                            layer.msg(result.statusDesc,{icon: 5});
                        }
                    });
                }
            });
        }
        // 添加下级菜单
        function addChild(position){
            // 状态类型
            var statusHtml = '<div class="layui-form-item"><label class="layui-form-label">状态</label><div class="layui-input-block">';
            for(var i=0;i<states.length;i++){
                statusHtml += '<input type="radio" name="status" value="' + states[i].key + '" title="' + states[i].value + '" checked>';
            }
            statusHtml += '</div></div>';
            // 岗位类型
            var typeHtml = '<div class="layui-form-item"><label class="layui-form-label">类型</label><div class="layui-input-block">';
            for(var j=0;j<positionType.length;j++){
                if(positionType[j].value==='岗位'){
                    typeHtml += '<input type="radio" name="type" value="' + positionType[j].key + '" title="' + positionType[j].value + '" checked disabled>';
                }else{
                    typeHtml += '<input type="radio" name="type" value="' + positionType[j].key + '" title="' + positionType[j].value + '" disabled>';
                }
            }
            typeHtml += '</div></div>';
            var formText = '<form class="layui-form" style="margin-right: 30px;margin-top: 30px"><div class="layui-form-item"><label class="layui-form-label">上级岗位</label>'
                + '<div class="layui-input-block"><input type="text" placeholder="请输入名称" disabled value="' + position.name + '" autocomplete="off" class="layui-input layui-disabled"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">名称</label>'
                + '<div class="layui-input-block"><input type="text" name="name" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">显示顺序</label>'
                + '<div class="layui-input-block"><input type="text" name="orderNum" required  lay-verify="required" placeholder="请输入排序" autocomplete="off" class="layui-input"></div></div>'
                + statusHtml + typeHtml
                + '<div class="layui-form-item"><label class="layui-form-label">是否已用</label>'
                + '<div class="layui-input-block"><input type="radio" name="used" value="0" title="未用" checked><input type="radio" name="used" value="1" title="已用"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">备注</label>'
                + '<div class="layui-input-block"><input type="text" name="remark" placeholder="请输入备注" autocomplete="off" class="layui-input"></div></div>'
                + '</form>';
            layer.open({
                type: 1
                ,content: formText
                ,title:'添加下级菜单'
                ,shadeClose: true
                ,skin: 'layui-layer-rim'
                ,area:['450px','550px']
                ,btn: ['确定', '取消']
                ,success: function(layero, index){
                    form.render('radio');
                }
                ,yes: function(index, layero){
                    var name = $("input[name='name']").val();
                    var orderNum = $("input[name='orderNum']").val();
                    var status = $("input[name='status']:checked").val();
                    var type = $("input[name='type']:checked").val();
                    var used = $("input[name='used']:checked").val();
                    var remark = $("input[name='remark']").val();
                    $.ajax({
                        type: 'POST',
                        url: "/position/insert",
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify({
                            name:name,
                            parentId:position.id,
                            orderNum:orderNum,
                            status:status,
                            type:type,
                            used:used,
                            remark:remark
                        }),
                        success: function(result){
                            // 关掉弹出层
                            layer.closeAll();
                            if(result.status === 'S001'){
                                // 更新成功 - 关掉
                                treeGrid.reload(tableId);
                                layer.msg(result.statusDesc,{icon: 6});
                            }else{
                                // 更新失败 - 给出错误提示
                                layer.msg(result.statusDesc,{icon: 5});
                            }
                        }
                    });
                }
            });
        }
        // 添加目录菜单
        function addPosition(){
            // 状态类型
            var statusHtml = '<div class="layui-form-item"><label class="layui-form-label">状态</label><div class="layui-input-block">';
            for(var i=0;i<states.length;i++){
                statusHtml += '<input type="radio" name="status" value="' + states[i].key + '" title="' + states[i].value + '" checked>';
            }
            statusHtml += '</div></div>';
            // 岗位类型
            var typeHtml = '<div class="layui-form-item"><label class="layui-form-label">类型</label><div class="layui-input-block">';
            for(var j=0;j<positionType.length;j++){
                if(positionType[j].value==='部门'){
                    typeHtml += '<input type="radio" name="type" value="' + positionType[j].key + '" title="' + positionType[j].value + '" checked disabled>';
                }else{
                    typeHtml += '<input type="radio" name="type" value="' + positionType[j].key + '" title="' + positionType[j].value + '" disabled>';
                }
            }
            typeHtml += '</div></div>';
            var formText = '<form class="layui-form" style="margin-right: 30px;margin-top: 30px"><div class="layui-form-item"><label class="layui-form-label">上级岗位</label>'
                + '<div class="layui-input-block"><input type="text" placeholder="请输入名称" disabled value="主目录" autocomplete="off" class="layui-input layui-disabled"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">名称</label>'
                + '<div class="layui-input-block"><input type="text" name="name" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">显示顺序</label>'
                + '<div class="layui-input-block"><input type="text" name="orderNum" required  lay-verify="required" placeholder="请输入排序" autocomplete="off" class="layui-input"></div></div>'
                + statusHtml + typeHtml
                + '<div class="layui-form-item"><label class="layui-form-label">是否已用</label>'
                + '<div class="layui-input-block"><input type="radio" name="used" value="0" title="未用" checked><input type="radio" name="used" value="1" title="已用"></div></div>'
                + '<div class="layui-form-item"><label class="layui-form-label">备注</label>'
                + '<div class="layui-input-block"><input type="text" name="remark" placeholder="请输入备注" autocomplete="off" class="layui-input"></div></div>'
                + '</form>';
            layer.open({
                type: 1
                ,content: formText
                ,title:'编辑'
                ,shadeClose: true
                ,skin: 'layui-layer-rim'
                ,area:['450px','550px']
                ,btn: ['确定', '取消']
                ,success: function(layero, index){
                    form.render('radio');
                }
                ,yes: function(index, layero){
                    var name = $("input[name='name']").val();
                    var orderNum = $("input[name='orderNum']").val();
                    var status = $("input[name='status']:checked").val();
                    var type = $("input[name='type']:checked").val();
                    var used = $("input[name='used']:checked").val();
                    var remark = $("input[name='remark']").val();
                    $.ajax({
                        type: 'POST',
                        url: "/position/insert",
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify({
                            name:name,
                            parentId:0,
                            orderNum:orderNum,
                            status:status,
                            type:type,
                            used:used,
                            remark:remark
                        }),
                        success: function(result){
                            // 关掉弹出层
                            layer.closeAll();
                            if(result.status === 'S001'){
                                // 更新成功 - 关掉
                                treeGrid.reload(tableId);
                                layer.msg(result.statusDesc,{icon: 6});
                            }else{
                                // 更新失败 - 给出错误提示
                                layer.msg(result.statusDesc,{icon: 5});
                            }
                        }
                    });
                }
            });
        }

        // 人员详情
        function staff() {
            var positions = treeGrid.findCheckedSons(tableId);
            if(positions===null || positions===undefined || positions.length!==1){
                layer.msg("请选择一个人员",{icon:5});
                return;
            }
            var formText = '<div style="margin: 30px;" class="center"><div id="staff" lay-filter="staff"></div></div>';
            layer.open({
                type: 1
                ,content: formText
                ,title:'岗位员工详情'
                ,shadeClose: true
                ,skin: 'layui-layer-rim'
                ,area:['700px','550px']
                ,btn: ['确定', '取消']
                ,success: function(layero, index){
                    form.render();
                    //执行一个table实例
                    table.render({
                        id:'staff'
                        ,elem: '#staff'
                        ,url:'/position/staffInfo'
                        ,page: {layout: ['count','prev', 'page', 'next'],prev:'<i class="layui-icon layui-icon-left"></i>',next:'<i class="layui-icon layui-icon-right"></i>'}
                        ,limit: 10
                        ,loading:true
                        ,method:'get'
                        ,skin: 'line'
                        ,toolbar: '#staffTool'
                        ,defaultToolbar: []
                        ,where: {positionId: positions[0].id}
                        ,response:{
                            statusCode:'S001'
                        }
                        ,parseData: function(res){
                            return {
                                "code": res.status,
                                "msg": res.statusDesc,
                                "count": res.data.total,
                                "data": res.data.records
                            };
                        }
                        ,cols: [
                            [
                                {type: 'checkbox'}
                                ,{field:'positionName', minWidth:120, title: '岗位名称',align:'left'}
                                ,{field:'companyName', minWidth:120, title: '员工名',align:'left'}
                                ,{field:'createTime', width:170, title: '时间',align:'left',templet:function (data) {
                                    return timeFormat(data.createTime);
                                }}
                            ]
                        ]
                    });
                }
            });

        }

        // 添加人员
        function addStaff() {
            var positions = treeGrid.findCheckedSons(tableId);
            if(positions===null || positions===undefined || positions.length!==1){
                return;
            }
            var formText = '<form class="layui-form" style="margin: 30px 30px 0 30px"><div class="layui-form-item"><select name="staff" xm-select="staff"><option value="">选择员工</option></select></div></form>';

            var staffSelect = layer.open({
                type: 1
                ,content: formText
                ,title:'添加'
                ,shadeClose: true
                ,skin: 'layui-layer-rim'
                ,area:['500px','400px']
                ,btn: ['确定', '取消']
                ,success: function(layero, index){
                    form.render();
                    // 请求所有未在岗的员工信息
                    formSelects.config('staff', {
                        keyName: 'companyName',//自定义返回数据中name的key, 默认 name
                        keyVal: 'companyId',//自定义返回数据中value的key, 默认 value
                        response: {
                            statusCode: 'S001',
                            statusName: 'status',
                            msgName: 'statusDesc',
                            dataName: 'data'
                        }
                    }).data('staff', 'server', {
                        url: '/staff/getStaffsNotInPosition/' + positions[0].id
                    });
                }
                ,yes: function(index, layero){
                    var ids = new Array();
                    var staffs = formSelects.value("staff");
                    for(var i=0;i<staffs.length;i++){
                        ids.push(staffs[i].companyId);
                    }
                    $.ajax({
                        type: 'POST',
                        url: "/staff/insert",
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify({
                            companyIds: ids.toString(),
                            positionId: positions[0].id
                        }),
                        success: function(result){
                            // 关掉弹出层
                            layer.close(staffSelect);
                            if(result.status === 'S001'){
                                // 更新成功 - 关掉
                                treeGrid.reload(tableId);
                                table.reload("staff");
                                layer.msg(result.statusDesc,{icon: 6});
                            }else{
                                // 更新失败 - 给出错误提示
                                layer.msg(result.statusDesc,{icon: 5});
                            }
                        }
                    });

                }
            });

        }
        // 删除人员
        function delStaff() {
            var staffs = table.checkStatus("staff").data;
            if(staffs===null || staffs===undefined || staffs.length<1){
                layer.msg("未选择任何数据",{icon:5});
                return;
            }
            var ids = new Array();
            for(var i=0;i<staffs.length;i++){
                var staff = staffs[i];
                ids.push(staff.id);
            }
            layer.open({
                type: 1
                ,content: '<div style="text-align: center;margin-top: 30px;">确定删除？</div>'
                ,title:'删除'
                ,shadeClose: true
                ,skin: 'layui-layer-rim'
                ,area:['300px','200px']
                ,btn: ['确定', '取消']
                ,yes: function(index, layero){
                    $.get("/staff/delete/" + ids.toString(), function(result){
                        layer.closeAll();
                        if(result.status === 'S001'){
                            // 更新成功 - 关掉
                            treeGrid.reload(tableId);
                            layer.msg(result.statusDesc,{icon: 6});
                        }else{
                            // 更新失败 - 给出错误提示
                            layer.msg(result.statusDesc,{icon: 5});
                        }
                    });
                }
            });
        }
    </script>
</div>
</body>
</html>