<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personal.business.mapper.BtMenuMapper">

    <select id="selectMenusByUserId" parameterType="Integer" resultType="com.personal.business.dto.MenuTree">
		select distinct m.menu_id, m.parent_id , m.menu_name, m.url, m.perms, m.menu_type, m.icon, m.order_num, m.visible, m.create_time,m.is_default,m.remark
		from bt_menu m
			 left join bt_user_menu um on m.menu_id = um.menu_id
		where um.user_id = #{userId} and m.visible = 0 and m.del_flag = 0 OR m.is_default = 1
		order by m.order_num,m.menu_id
	</select>

    <select id="selectPermsByUserId" parameterType="Integer" resultType="com.personal.business.dto.MenuTree">
		select distinct m.menu_id , m.parent_id , m.menu_name , m.url, m.perms, m.menu_type, m.icon, m.order_num, m.visible, m.create_time,m.is_default,m.remark
		  from bt_menu m
			 left join bt_user_menu um on m.menu_id = um.menu_id
			 left join bt_menu m2 ON m.parent_id = m2.menu_id
		  where um.user_id = #{userId} OR m.is_default = 1 and m.visible = 0 and m.del_flag = 0 AND (m.parent_id = 0 OR (m2.visible = 0 AND m2.del_flag = 0))
	</select>

    <select id="selectParentMenu" resultType="com.personal.business.dto.MenuTree">
        select distinct m.menu_id , m.parent_id , m.menu_name , m.url, m.perms, m.menu_type, m.icon, m.order_num, m.visible, m.create_time,m.is_default,m.remark
        from bt_menu m where  m.visible = 0 and m.del_flag = 0 and m.menu_id in ( <foreach collection="list" item="item" separator=",">#{item}</foreach>)

    </select>

    <!-- 查询未授权菜单 -->
    <select id="selectUnAuthorizeMenusByUserId" parameterType="Integer" resultType="com.personal.business.dto.MenuTree">
		select distinct m.menu_id, m.parent_id , m.menu_name, m.url, m.perms, m.menu_type, m.icon, m.order_num, m.visible, m.create_time,m.is_default,m.remark
		from bt_menu m
		where m.menu_id NOT IN (SELECT um.menu_id FROM bt_user_menu um WHERE um.user_id = #{userId}) AND m.is_default = 0
		order by m.order_num,m.menu_id
	</select>
    <!-- 查询已授权菜单 -->
    <select id="selectAuthorizeMenusByUserId" parameterType="Integer" resultType="com.personal.business.dto.MenuTree">
		select distinct m.menu_id, m.parent_id , m.menu_name, m.url, m.perms, m.menu_type, m.icon, m.order_num, m.visible, m.create_time,m.is_default,m.remark
		from bt_menu m
		where m.menu_id IN (SELECT um.menu_id FROM bt_user_menu um WHERE um.user_id = #{userId}) AND m.is_default = 0
		order by m.order_num,m.menu_id
	</select>
</mapper>
